<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Cinema</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='cinema.css') }}">
    </head>
    <body>
        <header class="header">
            <h1 class="header-title">Cinema</h1>

            {% if current_user.is_authenticated: %}
            <div class="header-right">
                <a href="{{ url_for('main.index') }}">Home</a>
                <a href="{{ url_for('main.index') }}">Profile - {{current_user.name}} </a>
                <a href="{{ url_for('auth.logout') }}">Log out</a>
            </div>
            {% else %}
            
            <div class="header-right">
                <a href="{{ url_for('main.index') }}">Home</a>
                <a href="{{ url_for('auth.signup') }}">Sign Up</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
            </div>
            {% endif %}

        </header>

        <section class="content">
            {% block content %}{% endblock %}
        </section>
        <footer><small>Developed for Web applications</small></footer>
    </body>
</html>
