{% extends 'base.html' %}

{% block content %}
    <h2>Sign Up!!!</h2>
    <form action="{{ url_for('auth.signup') }}" method="post">
        <div><label>Email: <input type="email" name="email" required/></label></div>
        <div><label>User name: <input type="text" name="username" required/></label></div>
        <div><label>Password: <input type="password" name="password" required/></label></div>
        <div><label>Repeat password: <input type="password" name="password_repeat" required/></label></div>
        <div>
            <input type="radio" name="role" value="manager" id="manager" required/><label for="manager">I am a manager</label>
            <input type="radio" name="role" value="customer" id="customer" required/><label for="customer">I am a customer</label>
        </div>


        <div><input type="submit" value="Sign Up"/></div>
    </form>

    {% include 'auth/error.html' %}

{% endblock %}