{% extends 'base.html' %}

{% block content %}
    {% include 'auth/error.html' %}
    <section>
        <h2>&nbsp;&nbsp;Our Movies&nbsp;&nbsp;</h2>
        {% include 'movies_horizontal.html' %}
    </section>
    <section>
        <h2>&nbsp;&nbsp;Today Projections&nbsp;&nbsp;</h2>
        {% if today_projections | length > 0 %}
            {% set projections = today_projections %}
                {% include 'projections_table.html' %}
        {% else%}
            <p style="text-align: center">THERE ARE NO PROJECTIONS FOR TODAY</p>
        {% endif %}
    </section>
    <section>
        <h2>&nbsp;&nbsp;Coming Soon&nbsp;&nbsp;</h2>
        {% if next_projections | length > 0 %}
            {% set projections = next_projections %}
                {% include 'projections_table.html' %}
        {% else%}
            <p style="text-align: center">THERE ARE NO PROJECTIONS COMING SOON</p>
        {% endif %}
    </section>
{% endblock %}
