{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>&nbsp;&nbsp;See Reservations&nbsp;&nbsp;</h2>
        {% if projections | length > 0 %}
            
            <table>
                <thead>
                <tr>
                    <th>Projection Id</th>
                    <th>Title</th>
                    <th>Screen</th>
                    <th>Total Seats</th>
                    <th>Seats Available</th>
                    <th>Seats Booked</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for projection, result in packed: %}
            
                    {% set proj = "proj"  ~ projection.id  %}
            
                    <tr id="{{proj}}">
                        <td>{{projection.id}}</td>
                        <td>{{ projection.movie.title }}</td>
                        <td>{{ projection.screen.name }}</td>
                        <td>{{ projection.screen.num_total_seats }}</td>
                        <td class="seats"></td>
                        <td>{{ result }}</td>
                        <td>{{ projection.day.strftime('%d-%m-%Y') }}</td>
                        <td>{{ projection.time.strftime('%H:%M') }}</td>
                        <td><a class="green" href="{{ url_for('manager.manager_reservation', id=projection.id) }}">SEE RESERVATIONS</a></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                
        {% else%}
            <p style="text-align: center">THERE ARE NO PROJECTIONS</p>
        {% endif %}
    </section>
{% endblock %}