
<table class="table-movies">
    <thead>
    <tr>
        <th>Movie Poster</th>
        <th>Title</th>
        <th>Screen</th>
        <th>Seats Available</th>
        <th>Day</th>
        <th>Time</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for projection in projections %}

        {% set proj = "proj"  ~ projection.id  %}

        <tr id="{{proj}}">
            <td><a href="{{ url_for('main.movie', id=projection.movie.id) }}"><img src={{projection.movie.img}} width=120 style="border-radius: 15px;"></a></td>
            <td>{{ projection.movie.title }}</td>
            <td>{{ projection.screen.name }}</td>
            <td class="seats"></td>
            <td>{{ projection.day.strftime('%d-%m-%Y') }}</td>
            <td>{{ projection.time.strftime('%H:%M') }}</td>
            <td class="sold"><a class="buttom" href="{{ url_for('main.reservation', id=projection.id) }}">Buy Ticket</a></td>    
        </tr>
        {% endfor %}
    </tbody>
</table>

