


<table class="table-reservations">
    <thead>
    <tr>
        <th>Movie Poster</th>
        <th>Title</th>
        <th>Screen</th>
        <th>Seats Reserved</th>
        <th>Day</th>
        <th>Time</th>
        <th>Booked Day</th>
      
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
    <tr>
        <td><a href="{{ url_for('main.movie', id=reservation.projection.movie.id) }}"><img src={{reservation.projection.movie.img}} width=120 style="border-radius: 15px;"></a></td>
        <td>{{ reservation.projection.movie.title }}</td>
        <td>{{ reservation.projection.screen.name }}</td>
        <td>{{ reservation.num_seats }}</td>
        <td>{{ reservation.projection.day.strftime('%d-%m-%Y') }}</td>
        <td>{{ reservation.projection.time.strftime('%H:%M') }}</td>
        <td>{{ reservation.date_time }}</td>
        <td></td>
        
    </tr>
    {% endfor %}
    </tbody>
</table>
