{% extends 'base.html' %}

{% block content %}
    <section class='form'>
        <h2>&nbsp;&nbsp;Login&nbsp;&nbsp;</h2>
      
        {% include 'auth/error.html' %}

        <form action="{{ url_for('auth.login') }}" method="post">
            <div><label>Email<br><input type="email" name="email" placeholder="Enter email..." required/></label></div>
            <div><label><br>Password<br><input type="password" name="password" placeholder="Enter password..." required/></label></div>
            <div><label><br>Repeat password<br><input type="password" name="password_repeat" placeholder="Enter password..." required/></label></div>
            <div><input class='submit' type="submit" value="Login"/></div>
            <div>You don't have an account? <a href="{{ url_for('auth.signup') }}" style="color:rgb(185, 31, 108)">Sign Up</a></div>
        </form>

    </section>

{% endblock %}