
body {
    background-image: url(/static/background_blue_dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    min-height: 100vh;  /* footer always botton*/
    padding-bottom: 5rem; 
    margin: 0;
    font-family: Arial;

}

* {
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color:whitesmoke;
  padding-block: 1em;
  border-radius: 0 0 85% 85% / 30%;
  text-align: center;
  
}
.header h1{
  font-size: 25px;
  color: rgb(8, 4, 21);
}
.header a {
  color: black;
  /* text-align: center; */
  padding: 12px;
  text-decoration: none; /* without link line*/
  font-size: 18px; 
  line-height: 25px;
  border-radius: 12px;  /* when mouse-over */
}
/* Change the background color on mouse-over */
.header a:hover {
    background-color: rgb(8, 4, 21);
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: rgb(8, 4, 21);
 }

h2 {
  text-align: center;
  color: rgb(8, 4, 21);

  display: flex;  /* ---- TEXT ----- */
  flex-direction: row;
}
h2:before, h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid rgb(16, 8, 43);
  margin: auto;
}

/* h1:before, h1:after{
  content:'\00a\00a\00a0\00a0\00a0\00a0\00a';
  text-decoration: line-through;
  margin: auto 0.5em;
} */


.horizontal-movies {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  
}
.horizontal-movies > a {
  scroll-snap-align: center;
}

.horizontal-movies img {
  width: 180px;
  max-width: none;
  object-fit: contain;
  border-radius: 15px;
}
/* .horizontal-movies img:hover {
  width: 200px;
} */

.form {
  width: 400px;
  height: calc(100% ); /*70vh;*/
  margin: 10px auto ;
  text-align: center; 

  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-radius: 15px; 
  border: 2px solid rgb(39, 110, 190);   
}  



input[type=email], input[type=password],input[type=text], input[type="date"], input[type="time"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(8, 4, 21);
  border-radius: 17px; 
}
input[type=radio] {
  height: 16px;
  width: 16px;
}

select {
  width: 100%;
  color: rgb(8, 4, 21);
  border: 2px solid rgb(8, 4, 21);
  border-radius: 17px;
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  background-color: palevioletred;
  cursor: pointer;
  /* text-align: center; */
}
/* select:hover {
  border-radius: 17px;
  cursor: pointer;
} */
/*
select:active {
  background-color: palevioletred;
  color: white;
  border: 2px solid rgb(8, 4, 21);
  border-radius: 17px;
} */


.submit{  
  width: 100%;  
  /* height: 30px;   */
  padding: 12px 20px;
  border: 2px solid whitesmoke;  
  border-radius: 17px;  
  margin: 20px auto;
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(8, 4, 21);
} 
.submit:hover {
  background-color: rgba(183, 26, 94, 1);
  border: 2px solid rgb(8, 4, 21);
}






table {
  display: table;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

}
table td, table th{
  text-align: center;
  border: 1px solid rgb(178, 255, 230);
}

td {
  height: 75px; /*min height*/
}


.green {
  overflow: hidden;
  white-space: nowrap;  /*avoids the bad resizing when window smaller*/
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none; /* without link line*/
  font-size: 12px; 
  line-height: 25px;
  border-radius: 12px; 
  background-color: rgb(15, 158, 15);
}
.red {
  overflow: hidden;
  white-space: nowrap;  /*avoids the bad resizing when window smaller*/
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none; /* without link line*/
  font-size: 12px; 
  line-height: 25px;
  border-radius: 12px; 
  background-color: red;
}
.buttom {
  overflow: hidden;
  white-space: nowrap;  /*avoids the bad resizing when window smaller*/
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none; /* without link line*/
  font-size: 12px; 
  line-height: 25px;
  border-radius: 12px; 
  background-color: rgb(8, 4, 21);
  border: 2px solid rgba(183, 26, 94, 1);
}
/* Change the background color on mouse-over */
.buttom:hover {
  background-color: rgba(183, 26, 94, 1);
  border: 2px solid rgb(8, 4, 21);
}

#price{
  color:rgb(8, 4, 21);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid rgb(39, 110, 190);
  border-radius: 17px;
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
}

